### Localization
d-i debian-installer/locale string en_US
d-i console-setup/ask_detect boolean false
d-i keyboard-configuration/xkb-keymap select us
d-i clock-setup/utc boolean true
d-i time/zone string Europe/Paris

### Mirror settings
d-i mirror/country string manual
d-i mirror/http/hostname string httpredir.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string
d-i apt-setup/services-select multiselect security, updates, backports
d-i apt-setup/non-free boolean true
d-i apt-setup/contrib boolean true

### Partitioning
d-i partman-auto/method string regular
d-i partman-auto/choose_recipe select my-root
d-i partman-auto/expert_recipe string           \
    my-root ::                                  \
        512 2 512 fat32                         \
            $primary{ }                         \
            method{ efi }                       \
            format{ }                           \
            mountpoint{ /boot/efi }             \
        .                                       \
        8000 1 -1 ext4                          \
            method{ format }                    \
            format{ }                           \
            use_filesystem{ }                   \
            filesystem{ ext4 }                  \
            mountpoint{ / }                     \
            options/discard{ discard }          \
            options/noatime{ noatime }          \
            options/nodiratime{ nodiratime }    \
        .
d-i partman-efi/non_efi_system boolean true
d-i partman-partitioning/choose_label string gpt
d-i partman-partitioning/default_label string gpt
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman-basicfilesystems/no_swap boolean false
d-i partman-md/confirm boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
d-i partman/mount_style select label

### Bootloader
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean false
d-i grub-installer/bootdev string /dev/sda

### Account setup
d-i passwd/root-login boolean true
d-i passwd/make-user boolean false
d-i passwd/root-password password root
d-i passwd/root-password-again password root
d-i user-setup/allow-password-weak boolean true
d-i user-setup/encrypt-home boolean false

### Package selection
tasksel tasksel/first multiselect standard
d-i pkgsel/include string openssh-server open-vm-tools vim cloud-init
d-i pkgsel/install-language-support boolean false
d-i pkgsel/update-policy select unattended-upgrades
d-i pkgsel/upgrade select full-upgrade

### Finish
d-i preseed/late_command string \
    wget -O /target/tmp/prep.sh "https://oos.eu-west-2.outscale.com/homelab/packer_ks/debian11/prep.sh"; \
    in-target /bin/bash /tmp/prep.sh
d-i finish-install/reboot_in_progress note